@using Site.XiaoShuo.DataAccess.Model;
@using Site.Untity;
@{
    IList<Fiction> list = ViewBag.list;
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">最近更新小说列表</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped text-left">
                    <thead>
                        <tr>
                            <th>分类</th>
                            <th>书名</th>
                            <th>最新章节</th>
                            <th>作者</th>
                            <th class="hidden-xs">更新时间</th>
                        </tr>
                    </thead>
                    @{
                        foreach (Fiction item in list)
                        {
                            <tr>
                                <td><a target="_blank" href="@UntityTool.GenerateListUrl(item.C_C_ID)">@item.CateName</a></td>
                                <td>《<a href="@UntityTool.GenerateIntroUrl(item.Id)" target="_blank">@Html.Raw(item.Title)</a>》</td>
                                <td><a href="@UntityTool.GenerateDetailUrl(item.Id,item.LastChapterId)" target="_blank" >@item.LastUpdateChapter.Replace("章", "章 ")</a></td>
                                <td><span class="text_author">@item.Author</span></td>
                                <td class="hidden-xs"><span class="text_author">@item.LastUpdateTime.ToString("yyyy-MM-dd HH:mm:ss")</span></td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>