@using Site.Videos.DataAccess.Model;
@{
    Layout = "~/Views/Shared/_Min_Layout.cshtml";
    ViewBag.Title = "开通VIP";
    List<ComboInfo> list = ViewData["list"] as List<ComboInfo>;
}
@section head{
}

<div id="page-content" class="contact-page">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div id="main-content" class="col-md-8">
                <div class="box">
                    <center>
                        <div class="art-header">
                            <h1 class="center">开  通  VIP</h1>
                        </div>
                    </center>
                    <div class="art-content">
                        <div id="contact_form">
                            <div class="row">
                                @{
                                    if (list.Count > 0)
                                    {
                                        int blockNum = 12 / list.Count;
                                        foreach (var item in list)
                                        {

                                            <div class="col-sm-12 col-md-@blockNum">
                                                <div class="thumbnail" style="height: 256px;">
                                                    <a href="/Vip/Dredge?code=@item.c_id" title="@item.c_title" target="_blank">
                                                        <img class="lazy" src="~/images/@string.Format("vip{0}.png",item.c_days)" width="300" height="150" alt="@item.c_title">
                                                    </a>
                                                    <div class="caption">
                                                        <h3>
                                                            <a href="/Vip/Dredge?code=@item.c_id" title="@item.c_title" target="_blank">@string.Format("{0}元/{1}天", item.c_num, item.c_days)<br><small>@item.c_intro</small><br /><span style="font-size:18px;">立即开通</span></a>
                                                        </h3>
                                                        <p></p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row"></div>
    </div>
</div>

