@using Site.Video.Web.Tools;
@using Site.Untity;
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - @UntityTool.GetConfigValue("SiteName")</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <!-- Owl Carousel Assets -->
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("head", false)

</head>
<body>
    <header>
        @{
            if (!string.IsNullOrEmpty(User.Identity.Name))
            {
                <!--Top-->
                <nav id="top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <strong>591社区</strong>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <ul class="list-inline top-link link">
                                    <li><a href="javascript:void(0);"><i class="fa fa fa-user-circle-o"></i> @User.Identity.Name</a></li>
                                    <li><a href="/Account/LoginOut"><i class="fa fa fa-sign-out"></i>注销</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            }
            else
            {
                <nav id="top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <strong>591社区</strong>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <ul class="list-inline top-link link">
                                    <li><a href="/Account/Login"><i class="fa fa fa-sign-in"></i> 登录</a></li>
                                    <li><a href="/Account/Regist"><i class="fa fa fa-address-card-o"></i> 注册</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            }

        }

        <!--Navigation-->
        @{ 
            Html.RenderPartial("../Nav/Video_Index_Min_Nav");
        }

        @RenderSection("head_recoment", false)
    </header>

    <!-- body -->
    @RenderBody()

</body>
</html>
